<!DOCTYPE html>
<html>
<head>
    <title>All Student</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@3.6.4/dist/full.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="max-w-7xl mx-auto">
    <!-- Navbar  -->
    <div class="navbar bg-base-200">
        <div class="flex-1">
            <div>
                <a href="/" class="btn btn-ghost normal-case text-4xl hover:bg-base-200">SMS</a>
                <p class="ml-4 -mt-1 text-xs">Student Management System</p>
            </div>
        </div>
        <div class="flex-none">
            <ul class="menu menu-horizontal px-1">
                <li><a href="/all-student">All Student</a></li>
            </ul>
        </div>
    </div>
    <h3 class="text-3xl font-medium text-center my-6">All Student</h3>
    <div class="px-4 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
        {{ range $student := .Students }}
        <div class="card card-compact w-96 border-2">
            <figure><img src="{{ $student.ImageURL }}" class="w-48" alt="Student Image" /></figure>
            <div class="card-body">
                <h2 class="card-title">{{ $student.Name }}</h2>
                <p>Student ID: {{ $student.ID }}</p>
                <p>CGPA: {{ $student.CGPA }}</p>
                <p>Career Interest: {{ $student.CareerInterest }}</p>
            </div>
        </div>
        {{ end }}
    </div>
    <div class="my-4 mx-4 flex justify-between">
        <div>
            <a href="/" class="btn btn-primary">Return</a>
        </div>
        <div>
            {{ if .PrevPage }}
                <a href="/all-student?page={{ .PrevPage }}" class="btn btn-primary">Previous Page</a>
            {{ end }}
            {{ if .NextPage }}
                <a href="/all-student?page={{ .NextPage }}" class="btn btn-primary">Next Page</a>
            {{ end }}
        </div>
    </div>
</body>
</html>